#Project
*.project

# Java
*.class
*.classpath

#Eclipse
/.settings/
/target/
TeachEasy/target/m2e-wtp/web-resources/META-INF/mavenTeachEasy/TeachEasy/pom.properties
TeachEasy/target/m2e-wtp/web-resources/META-INF/maven/TeachEasy/TeachEasy/pom.xml
